/Workshops/ChickenFarmer/nbproject/private/
/Assigment/Unit 2/Classes/build/
/Assigment/Unit 2/ec.edu.espe.AntSystem.view/nbproject/private/
/Assigment/Unit 2/ec.edu.espe.AntSystem.view/build/
/Workshops/UNIT 2/HW_15_InformationManagement/InformationManagement/nbproject/private/
/Assigment/Unit 2/HW_13_InformationManagement/InformationManagement/nbproject/private/
/Assigment/Unit 2/HW_13_InformationManagement/InformationManagement/build/
/Workshops/UNIT 2/Nueva Carpeta/JavaApplication4/nbproject/private/
/Workshops/UNIT 2/Nueva Carpeta/JavaApplication4/build/
/Assigment/Unit 2/HW_14_DateTest/JavaApplication4/nbproject/private/
/Assigment/Unit 1/Archivos/Files/nbproject/private/
/Assigment/Unit 1/Archivos/Files/build/
/Assigment/Unit 2/HW_14_DateTest/JavaApplication4/build/
/Workshops/UNIT 2/New Folder/TestDate/nbproject/private/
/Workshops/UNIT 2/New Folder/TestDate/build/
/Assigment/Unit 2/HW_15_Enum/EnumSystem/nbproject/private/
/Assigment/Unit 2/HW_15_Enum/EnumSystem/build/
/Workshops/UNIT 2/HW_18_AgeDesign/DateSystem/nbproject/private/
/Assigment/Unit 2/HW_14_DateSystem(2)/JavaApplication6/build/
/Assigment/Unit 2/New Folder/ProjectDesign/nbproject/private/
/Workshops/UNIT 2/HW_19_Polimorfismo/ec.edu.espe.Polimorfismo/nbproject/private/
/Workshops/UNIT 2/HW_19_Polimorfismo/ec.edu.espe.Polimorfismo/build/