/Workshops/ChickenFarmer/nbproject/private/
/Assigment/Unit 2/Classes/build/
/Assigment/Unit 2/ec.edu.espe.AntSystem.view/nbproject/private/
/Assigment/Unit 2/ec.edu.espe.AntSystem.view/build/
/Workshops/UNIT 2/HW_15_InformationManagement/InformationManagement/nbproject/private/