/Workshops/ChickenFarmer/nbproject/private/
/Assigment/Unit 2/Classes/build/
/Assigment/Unit 2/ec.edu.espe.AntSystem.view/nbproject/private/
/Assigment/Unit 2/ec.edu.espe.AntSystem.view/build/
/Workshops/UNIT 2/HW_15_InformationManagement/InformationManagement/nbproject/private/
/Assigment/Unit 2/HW_13_InformationManagement/InformationManagement/nbproject/private/
/Assigment/Unit 2/HW_13_InformationManagement/InformationManagement/build/
/Workshops/UNIT 2/Nueva Carpeta/JavaApplication4/nbproject/private/
/Workshops/UNIT 2/Nueva Carpeta/JavaApplication4/build/
/Assigment/Unit 2/HW_14_DateTest/JavaApplication4/nbproject/private/
/Assigment/Unit 1/Archivos/Files/nbproject/private/
/Assigment/Unit 1/Archivos/Files/build/
/Assigment/Unit 2/HW_14_DateTest/JavaApplication4/build/
/Workshops/UNIT 2/New Folder/TestDate/nbproject/private/
/Workshops/UNIT 2/New Folder/TestDate/build/
/Assigment/Unit 2/HW_15_Enum/EnumSystem/nbproject/private/
/Assigment/Unit 2/HW_15_Enum/EnumSystem/build/
/Workshops/UNIT 2/HW_18_AgeDesign/DateSystem/nbproject/private/
/Assigment/Unit 2/HW_14_DateSystem(2)/JavaApplication6/build/
/Assigment/Unit 2/New Folder/ProjectDesign/nbproject/private/
/Workshops/UNIT 2/HW_19_Polimorfismo/ec.edu.espe.Polimorfismo/nbproject/private/
/Workshops/UNIT 2/HW_19_Polimorfismo/ec.edu.espe.Polimorfismo/build/
/Workshops/UNIT 2/HW_20_Calendar/ec.espe.edu.Calendar/nbproject/private/
/Assigment/Unit 2/HW_16_Encriptar/ec.edu.espe.Encriptar/nbproject/private/
/Assigment/Unit 2/HW_17_Json/ec.edu.espe.Json/nbproject/private/
/Assigment/Unit 2/HW_17_Json/ec.edu.espe.Json/build/
/Workshops/UNIT 2/HW_21_Datos/ec.edu.espe.DatosReferenciados/nbproject/private/
/Workshops/UNIT 2/HW_21_Datos/ec.edu.espe.DatosReferenciados/build/
/Assigment/Unit 2/HW_16_Encriptar/ec.edu.espe.Encriptar/build/
/Workshops/UNIT 2/UML/nbproject/private/
/HW_24_Menu/ec.edu.espe.Menus/nbproject/private/
/HW_24_Menu/ec.edu.espe.Menus/build/
/Assigment/Unit 2/HW_18_Tablas/ec.edu.espe.Table/nbproject/private/
/Assigment/Unit 2/HW_18_Tablas/ec.edu.espe.Table/build/
/Assigment/Unit 2/Nueva Carpeta/ec.edu.espe.Menu/nbproject/private/
/Workshops/UNIT 2/HW_24_IngDirecta/ec.edu.espe.IngDirecta/nbproject/private/
/Workshops/UNIT 2/HW_24_IngDirecta/ec.edu.espe.IngDirecta/build/
/Workshops/UNIT 2/HW_24_Menu/ec.edu.espe.Menu/nbproject/private/
/Workshops/UNIT 2/HW_26_Implements/ec.edu.espe.Implements/nbproject/private/
/Workshops/UNIT 2/HW_26_Interface/ec.edu.espe.Interface/nbproject/private/
/Workshops/UNIT 2/HW_26_Interface/ec.edu.espe.Interface/build/
/Workshops/UNIT 2/HW_26_Interface/ec.edu.espe.Exer10/nbproject/private/
/Assigment/Unit 2/HW_18_Tablas/ec.edu.espe.Table_1/nbproject/private/
/Workshops/UNIT 3/DesignPattern/nbproject/private/
/Workshops/UNIT 3/DesignPattern/build/
/Workshops/UNIT 3/Singleton/nbproject/private/
/Workshops/UNIT 3/Singleton/build/
/Workshops/UNIT 3/Composite/nbproject/private/
/Workshops/UNIT 3/Composite/build/
/Assigment/Unit 3/HW_Strategy/nbproject/private/
/Assigment/Unit 3/HW_Strategy/Strategy/nbproject/private/
/Assigment/Unit 3/HW_Strategy/Strategy/build/
/Workshops/UNIT 3/TemplateMethod/nbproject/private/
/Workshops/UNIT 3/TemplateMethod/build/
/Workshops/UNIT 3/TemplateM/nbproject/private/
/Workshops/UNIT 3/TemplateM/build/
/Workshops/UNIT 3/Singleton_02/Singleton/build/
/Workshops/UNIT 3/Singleton_02/Singleton/nbproject/private/
/Workshops/UNIT 3/AbstractFactory/DesignPattern/build/
/Workshops/UNIT 3/AbstractFactory/DesignPattern/nbproject/private/
/Assigment/Unit 3/DesignPatterns (1)/DesignPatterns/BeverageTest/build/
/Assigment/Unit 3/DesignPatterns (1)/DesignPatterns/BeverageTest/nbproject/private/
/Assigment/Unit 3/DesignPatterns (1)/DesignPatterns/CalculatorUSTax/build/
/Assigment/Unit 3/DesignPatterns (1)/DesignPatterns/CalculatorUSTax/nbproject/private/
/Assigment/Unit 3/DesignPatterns (1)/DesignPatterns/SetupComposite/build/
/Assigment/Unit 3/DesignPatterns (1)/DesignPatterns/SetupComposite/nbproject/private/
/Workshops/UNIT 3/TemplateM_Car/build/
/Workshops/UNIT 3/TemplateM_Car/nbproject/private/
/Workshops/UNIT 3/TemplateM_House/build/
/Workshops/UNIT 3/TemplateM_House/nbproject/private/
/Workshops/UNIT 3/Singleton_Person/Singleton/build/
/Workshops/UNIT 3/Singleton_Person/Singleton/nbproject/private/
/Workshops/UNIT 3/Singleton_General/build/
/Workshops/UNIT 3/Singleton_General/nbproject/private/
/Workshops/UNIT 3/HW_Singleton_Tax/CalculatorUSTax/build/
/Workshops/UNIT 3/HW_Singleton_Tax/CalculatorUSTax/nbproject/private/
/Workshops/UNIT 3/Singleton_Tax/CalculatorUSTax/build/
/Workshops/UNIT 3/Singleton_Tax/CalculatorUSTax/nbproject/private/